.message_not_login {
  background-color: var(--color-white);
  color: var(--color-dark-blue);
  padding: 1rem 3rem;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  animation: translationAnim 0.2s;
  z-index: 20;
  display: flex;
  justify-content: center;
}

@keyframes translationAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
