@import './globalStyles';
@import './components/elements/navbar';
@import './components/elements/searchBar';
@import './components/homePage/home';
@import './components/moviesPage/movies';
@import './components/seriesPage/series';
@import './components/elements/grid-container-videos';

@import './components/formAccount/formAccount';
@import './components/elements/container-results-search'